In [2]:
'''Q1. What is a database? Differentiate between SQL and NoSQL databases.
Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
Q4. What is DQL? Explain SELECT with an example.
Q5. Explain Primary Key and Foreign Key.
Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
Q7. Give the order of execution of SQL clauses in an SQL query.'''

'Q1. What is a database? Differentiate between SQL and NoSQL databases.\nQ2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.\nQ3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.\nQ4. What is DQL? Explain SELECT with an example.\nQ5. Explain Primary Key and Foreign Key.\nQ6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.\nQ7. Give the order of execution of SQL clauses in an SQL query.'

In [3]:
'''..................................Ans (1).................................'''
''' database is the structured collection of data so that data can be easily 
stored ,retrieved and managed

database is the alternative system to the file collection in the office

the  sql is mainly used for the storage of structured data ie the data that can be stored in
tables while no sql may use key value pair or graphical method or other datamodel to store data


the sql is uses the query language to retrieve data where as the no sql uses apis and other data models to
retrieve data


the sql is not scalable where as the nosql is scalable 


mostly used when there is consisteny in data where as nosql is used where there is no consistency in data'''

'Ans (1) database is the structured collection of data so that data can be easily \nstored ,retrieved and managed\n\ndatabase is the alternative system to the file collection in the office\n\nthe  sql is mainly used for the storage of structured data ie the data that can be stored in\ntables while no sql may use key value pair or graphical method or other datamodel to store data\n\n\nthe sql is uses the query language to retrieve data where as the no sql uses apis and other data models to\nretrieve data\n\n\nthe sql is not scalable where as the nosql is scalable \n\n\nmostly used when there is consisteny in data where as nosql is used where there is no consistency in data'

In [9]:
'''..........................ANS(2).........................................'''
'''DDL means data definition language, 
 used to define the structure of a database   commands for creating, altering, 
and dropping database and tables  '''


'''EXAMPLE OF CREATE'''
 

import mysql.connector as sql
mydb=sql.connect(
    host='localhost',
    username='abc',
    password='krishna',
    )
mycursor=mydb.cursor()
mycursor.execute("CREATE DATABASE IF NOT EXISTS db11")
mycursor.execute("CREATE TABLE IF NOT EXISTS db11.test1 (id INT,firstname VARCHAR(30),lastname VARCHAR(50))")
mycursor.execute("INSERT INTO db11.test1(id, firstname, lastname) VALUES(1, 'mukesh', 'kumar')")
mydb.commit()
mycursor.execute("SELECT * FROM db11.test1")
rows=mycursor.fetchall()
for row in rows:
    print(row)

(1, 'mukesh', 'kumar')
(1, 'mukesh', 'kumar')
(1, 'mukesh', 'kumar')
(1, 'mukesh', 'kumar')

In [14]:
'''EXAMPLE OF ALTER TABLE'''

mycursor.execute("alter table  db11.test1 add column location varchar(30)")
mydb.commit()
mycursor.execute("select * from db11.test1")
rows=mycursor.fetchall()

In [15]:
for row in rows:
    print(row)

(1, 'mukesh', 'kumar', None, None)
(1, 'mukesh', 'kumar', None, None)
(1, 'mukesh', 'kumar', None, None)
(1, 'mukesh', 'kumar', None, None)

In [16]:
'''EXAPLE OF TRUNCATE '''

import mysql.connector as sql
mydb=sql.connect(
    host='localhost',
    username='abc',
    password='krishna',
    

)


mycursor=mydb.cursor()
'''truncate is used to remove all the data from the database'''
mycursor.execute("TRUNCATE TABLE db11.test1")
mycursor.execute("select*from db11.test1")
rows=mycursor.fetchall()
for row in rows:
    print(row)

In [3]:
'''EXAMPLE OF DROP '''

import mysql.connector as sql
mydb=sql.connect(
    host='localhost',
    username='abc',
    password='krishna',
    

)


mycursor=mydb.cursor()
mycursor.execute("drop table db11.test1")

'''now the test 1 table has been dropped'''

'now the test 1 table has been dropped'

In [4]:
'''..............................ANS(3)..................................................'''

'''What is DML? Explain INSERT, UPDATE, and DELETE with an example'''
'''INSERT'''
mycursor.execute("CREATE TABLE db11.test2 (id INT, firstname VARCHAR(30), lastname VARCHAR(50))")
mycursor.execute("INSERT INTO db11.test2(id, firstname, lastname) VALUES(1, 'ROHIT', 'kumar')")
mycursor.execute("INSERT INTO db11.test2(id, firstname, lastname) VALUES(2, 'SONIT', 'kumar')")
mycursor.execute("INSERT INTO db11.test2(id, firstname, lastname) VALUES(3, 'GONIT', 'kumar')")

In [6]:
mycursor.execute("SELECT * FROM db11.test2")
rows=mycursor.fetchall()
for i  in rows:
    print(i)

(1, 'ROHIT', 'kumar')
(2, 'SONIT', 'kumar')
(3, 'GONIT', 'kumar')

In [7]:
'''UPDATE'''

mycursor.execute("UPDATE db11.test2 SET firstname = 'Mukesh Kumar' WHERE id = 1")

In [8]:
mycursor.execute("SELECT * FROM db11.test2")
rows=mycursor.fetchall()
for i  in rows:
    print(i)

(1, 'Mukesh Kumar', 'kumar')
(2, 'SONIT', 'kumar')
(3, 'GONIT', 'kumar')

In [11]:
mycursor.execute("delete from  db11.test2 where id = 1")

In [12]:
'''delete'''

mycursor.execute("SELECT * FROM db11.test2")
rows=mycursor.fetchall()
for i  in rows:
    print(i)

(2, 'SONIT', 'kumar')
(3, 'GONIT', 'kumar')

In [13]:
'''...................ANSWER 4..........................................'''


'''dql stands for the data query language it is used to query the database for some condition '''

mycursor.execute("SELECT * FROM db11.test2")
rows=mycursor.fetchall()
for i  in rows:
    print(i)

(2, 'SONIT', 'kumar')
(3, 'GONIT', 'kumar')

In [14]:
'''......................ANS(5)...............................................'''

'''Explain Primary Key and Foreign Key.'''

'''primary key is used to identify the unique rows in the table .it helps in distinguishing one row from 
the other primary key is unique and is identified with unique row

foreign key is set of columns that refer to the primary key of another table thus foreign key is used in 
establishing connection '''

'primary key is used to identify the unique rows in the table .it helps in distinguishing one row from \nthe other primary key is unique and is identified with unique row\n\nforeign key is set of columns that refer to the primary key of another table thus foreign key is used in \nestablishing connection '

In [5]:
'''................................ANS(6).....................................................'''
''' Write a python code to connect MySQL to python. Explain the cursor() and execute() method.'''

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="krishna",
  database="db11"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM test2")

rows = mycursor.fetchall()

for row in rows:
    print(row)

In [ ]:
'''................................ANS(7)............................'''

''' order of execution of SQL clauses in an SQL query ias follows'''


FROM

JOIN

WHERE 

GROUP BY

HAVING

SELECT

DISTINCT

ORDER BY 

LIMIT